@model IEnumerable<DKPortfolio.Models.Articles>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Navigation bar-->
<div class="navigation-panel">
    <picture>
        <source class="img-fluid my-nav-img" srcset="~/images/webp/pic.webp" type="image/webp">
        <img class="img-fluid my-nav-img" src="~/images/pic.png" alt="Alt Text!">
    </picture>
    <div style="text-align:center;top:45%;" class="my-nav">
        <h1>Tech Blog</h1>
        <p>Latest Posts</p>
        <a style="margin-top:1rem" class="mybtn mybtn-white" href="/">Home</a>
    </div>
</div>
<section>
    <div class="my-container" style="text-align:center">
        <a style="all:unset">
            <div class="article">
                <h1 class="article-title">Coming Soon...</h1>
                <p>
               
                    Lorem ipsum dolor sit amet, no mei quot illud altera. Nostro option tractatos
                    ut pri, vel dolorem volutpat pertinacia ne. Id cum vide affert sapientem. Voluptatum
                    scripserit eos an, cu nec timeam pertinacia, te interesset comprehensam definitionem vim. Id usu volumus epicurei
                    , et agam detracto voluptatibus sit, vel iudico salutandi constituam ea. Cu albucius consequuntur sea, vel tale veniam
                    mnesarchum id.
                </p>
            </div>
        </a>
    </div>
</section>

