<!DOCTYPE html>
<html>
<head>
    <title>Dilshan Karunanayaka - Freelance Web Developer Portfolio</title>
    <meta name="description" content="Dilshan Karunanayaka is a freelance web developer.This is a portfolio showcasing the projects he has worked on as well as the technical skills he possess." />
    <meta name="keywords" content="Dilshan Karunanayaka, Freelance Web Developer, Freelancer, Developer, Programmer"/>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=899">   
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Archivo');
    </style>
    <link rel="icon" href="~/images/head.png">
    <environment include="Development">   
        <link rel="stylesheet" href="~/css/mystyle.css" />
        <link rel="stylesheet" href="~/css/navmenu.css" />
    </environment>
    <environment exclude="Development">
        <style>
            .header-content h1,.header-content h2{animation-name:moveInRight;animation-duration:2s}.header,.skills{box-shadow:0 1.5rem 4rem rgba(0,0,0,.8);background-size:cover}.header,.projects,.skills{background-size:cover}*{margin:0;padding:0;box-sizing:border-box;color:#fff;font-family:Archivo,sans-serif}html{scroll-behavior:smooth}body{background-color:#C1C8E4}h1,h2{margin:1rem 0;font-size:2rem}.h4,h4{font-size:1.5rem}.h5,h5{font-size:1.25rem}.h6,h6{font-size:1rem}.width50{width:50%!important}.header{height:95vh;position:relative;background-image:linear-gradient(to right bottom,rgba(136,96,208,.7),rgba(90,185,234,.7)),url(../images/header.jpg);background-position:top}.header-content{position:absolute;top:25%;padding:1rem;word-wrap:break-word;text-align:center}.header-content h1{font-family:"Archivo Black",sans-serif;font-size:4.5rem}.header-content h2{font-size:2rem;letter-spacing:.1rem}.header-content-body{margin:0 20%;text-align:center;animation-name:moveInLeft;animation-duration:2s}.header-content-body p{font-weight:800;font-size:1.2rem!important;margin:1rem 0}.my-container{margin-left:20%;padding:1rem;text-shadow:2px 2px #000}.my-container a{text-shadow:none}.contact-container-bigbox a,.contact-container-littlebox a{color:unset;text-shadow:2px 2px #000}.navigation-panel{background-image:linear-gradient(#84ceeb,#8860d0);width:20%;height:100vh;position:fixed}.my-nav,.my-nav-img{position:absolute;left:50%;transform:translate(-50%,-50%)}.my-nav{margin-top:2rem;top:50%;display:flex;flex-direction:column;font-weight:600}.projects-filter,.skills-body{flex-direction:row;display:flex}.my-nav-img{top:20%;border-radius:50%;border:1px solid #ddd;padding:5px;width:150px;height:150px}.projects-card:hover,.skills-card-img:hover{transform:scale(1.1)}.skills,.skills-header{width:100%;text-align:center;font-family:"Archivo Black",sans-serif}.skills{height:100%;background-image:linear-gradient(to right bottom,rgba(136,96,208,.7),rgba(90,185,234,.7)),url(../images/skills.jpg)}.skills-card,.skills-card-img{box-shadow:inset 0 0 10px #000}.skills-body{justify-content:space-around;flex-wrap:wrap}.skills-card{width:15rem;height:12rem;background-color:red;margin:1rem;position:relative;border-radius:25px;background-image:linear-gradient(to right bottom,#84ceeb,#8860d0)}.skills-card-img{position:absolute;top:10%;left:10%;width:80%;height:80%;border-radius:50%;transition:all .5s}.projects,.projects-img{height:100%;width:100%}.projects{text-align:center}.projects-header{width:100%;text-align:center;font-family:"Archivo Black",sans-serif}.projects-filter{width:100%;justify-content:center}.projects-body{display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap}.projects-card{width:18rem;height:18rem;margin:1rem;transition:all .5s}.contact,.education{height:100%;background-size:cover;text-align:center;font-family:"Archivo Black",sans-serif}.education{padding-top:1.5rem}.education-body{padding:2rem}.education-header{width:100%;text-align:center;font-family:"Archivo Black",sans-serif}.contact{background-image:linear-gradient(to right bottom,rgba(136,96,208,.7),rgba(90,185,234,.7)),url(../images/contact.jpg);box-shadow:0 1.5rem 4rem rgba(0,0,0,.8);position:relative}.contact-header{position:absolute;top:45%;left:50%;transform:translate(-50%,-50%)}.contact-container{display:grid;grid-template-rows:repeat(2,17rem);grid-template-columns:1fr 1fr;grid-gap:4rem;margin:25px}.contact-container-bigbox-img,.contact-container-littlebox-img{display:block;max-height:50%;max-width:100%;margin:20px auto;animation:spin 8s linear infinite}.mybtn,.mybtn:link,.mybtn:visited{text-transform:uppercase;padding:10px 40px;display:inline-block;margin-bottom:10px;transition:all .2s;text-decoration:none}.clear{clear:both;line-height:0}.mybtn{border-radius:100px;border:0}.mybtn:link,.mybtn:visited{border-radius:100px}.mybtn:hover{transform:translateY(-3px)}.mybtn:active{transform:translateY(3px)}.mybtn-white{background-color:#fff;color:#777}.popup{position:fixed;top:0;left:0;background-color:rgba(0,0,0,.8);height:100vh;width:100%;z-index:1000;opacity:0;visibility:hidden;transition:all .5s}.popup:target{opacity:1;visibility:visible}.popup-content{position:relative;top:50%;left:50%;width:90%;height:90%;background-image:linear-gradient(to right bottom,#84ceeb,#8860d0);transform:translate(-50%,-50%);margin:0;padding:0;display:table;overflow:hidden;border-radius:15px}.popup-content h1{font-size:3rem!important;padding:.5rem 0}.popup-content a{font-size:1.4rem;margin-bottom:2rem}.popup-content p{font-size:1.4rem;margin:1rem 0}.popup-content-left{width:33.3333333%;display:table-cell}.popup-content-right{width:66.6666667%;display:table-cell;height:50%;vertical-align:middle}.popup-content-img{width:33.33333%;display:block;height:60%;position:absolute;top:20%}.popup-close:link,.popup-close:visited{position:absolute;top:-3rem;right:3.5rem;font-size:9rem;text-decoration:none;display:inline-block}.popup-close:hover{color:#8860d0}.linktext,.linktext:hover{text-shadow:2px 2px #000!important;color:#d3d3d3}.linktext{font-family:Archivo,sans-serif}.appdevcheck:checked~.appdev,.othercheck:checked~.other,.webdevcheck:checked~.webdev{animation-name:fadeIn;animation-duration:3s}.appdevcheck:checked~.other,.appdevcheck:checked~.webdev,.othercheck:checked~.appdev,.othercheck:checked~.webdev,.webdevcheck:checked~.appdev,.webdevcheck:checked~.other{visibility:hidden;opacity:0;position:fixed}.test{animation:moveUpDown 2s linear infinite}@@keyframes moveUpDown{0%,100%{bottom:0}50%{bottom:200px}}@@-webkit-keyframes spin{from{transform:perspective(400px) rotateY(0)}to{transform:perspective(400px) rotateY(360deg)}}@@-moz-keyframes spin{from{transform:perspective(400px) rotateY(0)}to{transform:perspective(400px) rotateY(360deg)}}@@-o-keyframes spin{from{transform:perspective(400px) rotateY(0)}to{transform:perspective(400px) rotateY(360deg)}}@@keyframes spin{from{transform:perspective(400px) rotateY(0)}to{transform:perspective(400px) rotateY(360deg)}}@@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@@-webkit-keyframes moveInLeft{0%{opacity:0;transform:translate(-1rem,0)}100%{opacity:1;transform:translate(0)}}@@-moz-keyframes moveInLeft{0%{opacity:0;transform:translate(-1rem,0)}100%{opacity:1;transform:translate(0)}}@@-o-keyframes moveInLeft{0%{opacity:0;transform:translate(-1rem,0)}100%{opacity:1;transform:translate(0)}}@@keyframes moveInLeft{0%{opacity:0;transform:translate(-1rem,0)}100%{opacity:1;transform:translate(0)}}@@-webkit-keyframes moveInRight{0%{opacity:0;transform:translate(1rem,0)}100%{opacity:1;transform:translate(0)}}@@-moz-keyframes moveInRight{0%{opacity:0;transform:translate(1rem,0)}100%{opacity:1;transform:translate(0)}}@@-o-keyframes moveInRight{0%{opacity:0;transform:translate(1rem,0)}100%{opacity:1;transform:translate(0)}}@@keyframes moveInRight{0%{opacity:0;transform:translate(1rem,0)}100%{opacity:1;transform:translate(0)}}@@media (max-width:900px){.my-container,.mybtn{margin:0}*{font-size:1.1rem}.mybtn{font-size:1.5rem;width:25%;padding:0}.navigation-panel{display:none}.popup-content-left{display:none;width:unset!important}.popup-content-right{width:100%!important;font-size:30px!important}.header{height:100%!important}.header-content{position:unset!important}.time-container{position:unset!important;width:100%!important}.left::before,.right::before,.time-container::after,.timeline::after{display:none}}.timeline{position:relative;max-width:1200px;margin:0 auto}.time-container::after,.timeline::after{content:'';position:absolute}.timeline::after{width:6px;background-color:#fff;top:0;bottom:0;left:50%;margin-left:-3px}.time-container{padding:10px 40px;position:relative;background-color:inherit;width:50%}.time-container::after{width:25px;height:25px;right:-17px;background-color:#fff;border:4px solid #FF9F55;top:15px;border-radius:50%;z-index:1}.left::before,.right::before{content:" ";height:0;position:absolute;top:22px;width:0;z-index:1}.left{left:-4px}.right{left:50%}.left::before{right:30px;border:solid #fff;border-width:10px 0 10px 10px;border-color:transparent transparent transparent #fff}.right::before{left:30px;border:solid #fff;border-width:10px 10px 10px 0;border-color:transparent #fff transparent transparent}.article,.content{position:relative;box-shadow:inset 0 0 10px #000}.right::after{left:-12px}.content{padding:20px 30px;background-color:#fff;border-radius:6px;background-image:linear-gradient(to right bottom,rgba(132,206,235,.8),rgba(136,96,208,.7))}.article{border-radius:25px;background-image:linear-gradient(to right bottom,#84ceeb,#8860d0);width:75%;padding:2rem 0;margin:2rem auto 0;word-break:break-all}.article p{padding:1rem}.article-title{margin:0;padding:0}.article:link,.article:visited{transition:all .2s}.article:hover{transform:translateY(-3px)}.article:active{transform:translateY(3px)}.clearstyle{all:unset}        </style>
        <style>
            .navigation-checkbox{display:none}.navigation-button{background-image:radial-gradient(#B7F8DB ,#50A7C2);height:7rem;width:7rem;position:fixed;top:2rem;right:1rem;border-radius:50%;z-index:2000;box-shadow:0 1rem 3rem rgba(1,1,1,.1);text-align:center;cursor:pointer}.navigation-background{height:6rem;width:6rem;border-radius:50%;position:fixed;top:2.5rem;right:1.5rem;background-image:radial-gradient(#ffb900,#ff7730);z-index:1000;transition:transform 1s cubic-bezier(.86,0,.07,1)}.navigation-nav{height:100vh;width:0;position:fixed;top:0;left:0;z-index:1500;opacity:0;transition:all .9s cubic-bezier(.86,0,.07,1);pointer-events:none}.navigation-checkbox:checked~.navigation-background+.navigation-nav{pointer-events:auto}.navigation-list{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);list-style:none;text-align:center;width:100%}.navigation-item{margin:1rem}.navigation-link:link,.navigation-link:visited{font-size:1.5rem;font-weight:300;color:#fff;padding:1rem 2rem;text-decoration:none;text-transform:uppercase;background-image:linear-gradient(120deg,transparent 0,transparent 50%,#fff 50%);background-size:240%;transition:all .4s;display:inline}.navigation-link:hover{background-position:100%;color:#000}.navigation-checkbox:checked~.navigation-background{transform:scale(80)}.navigation-checkbox:checked~.navigation-nav{opacity:1;width:100%}.navigation-icon{width:3rem;height:2px;background-color:#000;display:inline-block;position:relative;margin-top:3.5rem}.navigation-icon::after,.navigation-icon::before{width:3rem;height:2px;background-color:#000;display:inline-block;content:"";position:absolute;left:0}.navigation-icon::before{top:-.8rem}.navigation-icon::after{top:.8rem;transition:all .2s}.navigation-button:hover .navigation-icon::before{top:-1rem}.navigation-button:hover .navigation-icon::after{top:1rem}.navigation-checkbox:checked+.navigation-button .navigation-icon{background-color:transparent}.navigation-checkbox:checked+.navigation-button .navigation-icon::before{top:0;transform:rotate(135deg)}.navigation-checkbox:checked+.navigation-button .navigation-icon::after{top:0;transform:rotate(-135deg)}@@media(max-width:900px){.navigation-button{height:3.5rem;width:3.5rem}.navigation-background{height:2rem;width:2rem}.navigation-icon{width:2rem;margin-top:1.7rem}.navigation-icon::after,.navigation-icon::before{width:2rem}}
        </style>
    </environment>
</head>
<body>
    <div>
        <input type="checkbox" class="navigation-checkbox" id="nav-toggle" />
        <label for="nav-toggle" class="navigation-button"><span class="navigation-icon">&nbsp;</span></label>

        <div class="navigation-background">
            &nbsp;
        </div>
        <nav class="navigation-nav">
            <ul class="navigation-list">
                <li class="navigation-item"><a class="navigation-link" href="/">Home</a></li>
                <li class="navigation-item"><a asp-controller="Articles" asp-action="Index" class="navigation-link">Blog</a></li>
            </ul>
        </nav>
    </div>
    @RenderBody()

    <script>
        if (window.innerWidth > 900) {
            var ifrm = document.createElement('iframe');
            ifrm.setAttribute('id', 'ifrm'); // assign an id

            // assign url
            ifrm.setAttribute('src', 'https://www.youtube.com/embed/scL-RmUg_70');
            document.getElementById("galactic-vid").appendChild(ifrm);
            document.getElementById("ifrm").classList.add("popup-content-img");

            var ifrm2 = document.createElement('iframe');
            ifrm2.setAttribute('id', 'ifrm2'); // assign an id

            // assign url
            ifrm2.setAttribute('src', 'https://www.youtube.com/embed/CrHX8cJrdDI');
            document.getElementById("cvgs-vid").appendChild(ifrm2);
            document.getElementById("ifrm2").classList.add("popup-content-img");
            document.getElementById("ifrm2").classList.add("width50");
        }

        document.getElementById("allprojs").addEventListener("click", function () {
            document.getElementById("webdevcheck").checked = false;
            document.getElementById("appdevcheck").checked = false;
            document.getElementById("othercheck").checked = false;
        });
        document.getElementById("webdev").addEventListener("click", function () {
            document.getElementById("webdevcheck").checked = true;
            document.getElementById("appdevcheck").checked = false;
            document.getElementById("othercheck").checked = false;
        });
        document.getElementById("appdev").addEventListener("click", function () {
            document.getElementById("webdevcheck").checked = false;
            document.getElementById("appdevcheck").checked = true;
            document.getElementById("othercheck").checked = false;
        });
        document.getElementById("other").addEventListener("click", function () {
            document.getElementById("webdevcheck").checked = false;
            document.getElementById("appdevcheck").checked = false;
            document.getElementById("othercheck").checked = true;
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
